@import "./variables.scss";

.app {
  height: 900px;
}

.app-header {
  width: 100%;
  height: 60px;
  background-color: $header-color;
  z-index: 9;
  color: white;
  margin-bottom: 15px;
  font-family: Verdana;

  .navbar-brand {
    width: 20%;
    font-family:Palatino Linotype;

    img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .navbar-nav {
    height: 40px;
    width: 65%;
    color: #95abb7 !important;
    display: inline-block;

    &.profile-nav {
      width: 15%;
    }

    a {
      float: right;
      font-size: 16px;
      margin: 6px 20px;
      color: #808080;
      cursor: pointer;
      
      &:hover {
        color: white !important;
        text-decoration: none;
      }

      &.active {
        color: white;
        border-bottom: 1px solid #ff6666;
      }


    }
  }
}

.app-header-show-side {
  width: calc(100% - 300px);
}

.main-panel {
  position: absolute;
  min-width: 375px;
  width: calc(100% - 300px);
  padding-left:  calc((100% - 300px) * 0.05);
  padding-right: calc((100% - 300px) * 0.05);
  
}

.main-panel-not-side {
  width: 80%;
  margin-left:  10%;
  margin-right: 10%;
}

.side-panel {
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0 0 10px 0 #a6a6a6;
  background-color: white;
  overflow-y: scroll;

  .side-header {
    height: 60px;
    border-bottom: 1px solid #efeff5;

    .close {
      position: absolute;
      cursor: pointer;
      right: 0px;
      padding: 18px 15px;
      color: #bfbfbf;

      &:hover {
        color: #1a1a1a;
      }
    }
  }

  .side-content {
    height: 800px;
    
    .content-component {
      // background-color: $main-background-color;
      margin-bottom: 10px;
      height: calc((100% - 10px) / 3);
    }

    :last-child {
      margin-bottom: 0px;
    }
  }
}


@media only screen and (max-width: 750px) {
  .side-panel {
    width: 100%;
  }
}


@media only screen and (max-width: 640px) {
  .main-panel {
    width: 100%;
    margin: 0px;
  }
}

// all utils of components
.radius-btn {
  color: #fff;
  width: auto;
  border-radius: 25px;
  min-width: 120px;
  height: 46px;
  line-height: 40px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &.red-btn {
    background-color: red;

    &:hover {
      background-color: #ff4d4d;
    }

    &:active {
      background-color: #ff9999;
    }
  }

  &.green-btn {
    background-color: #16c2c2;

    &:hover {
      background-color: #5eeded;
    }

    &:active {
      background-color: #baf7f7;
    }
  }
}