.plan-panel {
    margin-left: 5%;
    margin-right: 5%;
    h1 {
        text-align: center;
    }

    .meal-card {
        max-width: 720px;
        min-width: 300px;
        height: 120px;
        background-color: #e6f9ff;
        display: flex;
        border: 2px solid #e6f5ff;
        border-radius: 10px;
        margin: 20px;

        &:hover {
            border: 2px solid #ccf3ff;
            background-color: #ccebff;
            cursor: pointer;
        }
        
        .day-column {
            width: 16%;
            padding-top: 42px;
            padding-bottom: 42px;
            font-size: 25px;
            text-align: center;
        }
    
        .img-column {
            width: 18%;
        }
    
        .detail-column {
            width: 40%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
    }    
}



