@import "./variables.scss";

.plan-panel {
    height: 800px;

    h2 {
        text-align: center;
    }

    .plan-cards {
        display: flex;
        flex-wrap: wrap;

        .plan-card {
            width: calc((100% - 60px) / 3);
            height: 300px;
            padding: 0;
            margin: 10px 10px;
            background-color: $main-background-color;
        }

        :last-child {
            background-color: #e6f9ff;
            cursor: pointer;
            
            img {
                margin: 110px calc((100% - 80px) / 2);
                border: none;       
            }

            &:active {
                background-color: #b3edff;

                img {
                    background-color: #b3edff;
                }
            }
        }
    }

}