@import "./variables.scss";

.schedule-panel {
    margin-left: 5%;
    margin-right: 5%;
    
    h2 {
        text-align: center;
    }

    .operations-colletion {
        height: 180px;
        text-align: center;
        padding-top: 10px;
        position: relative;

        .general-items {
            margin-bottom: 60px;
            height: 55px;
            font-size: 18px;
            display: flex;
            justify-content: left;

            span {
                margin: 0px 10px;
            }
            img {
                margin-right: 12px;
            }
        }

        .calendar-item {
            position: absolute;
            right: 0;
            margin: 10px;
            cursor: pointer;
        }

        .switch-day-item {
            margin-top: 20px;
            height: 60px;
            max-width: 1000px;
            font-size: 20px;

            .left-arrow {
                float: left;
                cursor: pointer;
                background-color: silver;
                border-radius: 5px;

                &:active {
                    background-color: #e6e6e6;
                }
            }
            .left-date {
                float: left;
                margin: 16px 20px;
            }
            .text {
                font-size: 34px;
                font-weight: 500;
                margin: 16px 20px;
            }
            @media only screen and (max-width: 1024px) {
                & {
                    font-size: 16px;
                }

                .text {
                    font-size: 24px;
                    margin: 0px;
                }
              }
              
            .right-date {
                float: right;
                margin: 16px 20px;
            }
            .right-arrow {
                float: right;
                cursor: pointer;
                background-color: silver;
                border-radius: 5px;

                &:active {
                    background-color: #e6e6e6;
                }
            }
        }
    }

    .meal-card {
        max-width: 1000px;
        min-width: 420px;
        height: 100px;
        background-color: $main-background-color;
        display: flex;
        border: 2px solid #e6f5ff;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            border: 2px solid $main-background-color;
            background-color: $main-hover-background-light-color;
        }
        
        .day-column {
            width: 20%;
            padding-top: 36px;
            padding-bottom: 36px;
            font-size: 20px;
            text-align: center;
        }
    
        .img-column {
            width: 15%;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    
        .detail-column {
            width: 50%;
            margin-top: 18px;
            margin-bottom: 18px;
            border-radius: 5px;
            display: flex;
            list-style-type: none;

            div {
                width: 38%;
                border-radius: 5px;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;

                &:hover {
                    background-color: $main-hover-background-bold-color;
                }

                &:active {
                    font-weight: bold;
                }
            }
        }

        .edit-column {
            width: 15%;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 3%;

            .edit-img {
                height: 40px;
                width: 40px;
                background-color: white;
                border-radius: 25px;
                background-color: $icon-position-color;

                &:hover {
                    background-color: $main-hover-icon-color;
                }

                &:active {
                    background-color: $main-hover-background-bold-color;
                }

                img {
                    padding: 6px;
                }
            }
        }
    
    }    
}

@media only screen and (max-width: 470px) {
    .schedule-panel {
      margin: 0px;
    }
  }

