
$main-background-color: #ccf3ff;
$main-hover-background-light-color: #ccebff;
$main-hover-background-bold-color: #99d6ff;
$main-hover-icon-color: #b3edff;
$icon-position-color: #e6f9ff;
$header-color: #00001a;
$sub-background-color: #090723;